{% extends "admin/index.html" %}
{% block body %}
<div class="container" style="margin-Top: 40px;" >
<form action="/myapp/edit_category_post/" method="post">
     {% csrf_token %}
<table class="table table-bordered">
    <input type="hidden" name="cid" id="cid" value="{{ data.id }}" />
  <tr>
    <td width="180px">Product type</td>
    <td><input type="text" class="form-control" required name="textfield" id="textfield" value="{{ data.catname }}"/></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit"  style="background-color: black; color:white; border: none; padding:10px;border-radius: 0px;" name="button" id="button" value="Submit" /></td>
  </tr>
</table>
</form>
</div>
{% endblock %}